<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <% include ../partials/header %>

    <% include ../partials/_auditdetail %>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/scripts %>
    
</body>
</html>